@import '~stylus/variables'

$padding = 15px

.root
  display: flex
  padding: 0
  justify-content: flex-start
  background: $textColor
  border-radius: 2px

  &:before
    content: 'Josh Hunt'
    color: $bg
    padding: $padding ($padding * 2)
    font-weight: 600

.item
  display: inline-block
  list-style: none

  a
    display: inline-block
    padding: $padding $padding
    color: white !important
    text-decoration: none
    background: $textColor
    transition: all 150ms

    &:hover
      background: rgba($bg, .1)

    &.active
      background: rgba($bg, .05)
